.misbeneficiostitulo{
	background-color:#e75133;
	font-family: arial,sans-serif;
	font-size: 14px;
	font-weight: bold;
	color:#ffffff;

}
.textogeneralmisbeneficios{
	color:#4c2f92;
	font-family:Arial;
	font-size:12px;
}