.z-menu-body-seld .z-menu-inner-m, .z-menu-body-seld .z-menu-inner-r, .z-menu-body-seld .z-menu-inner-l{
	background-position: 0 0px;
	background-image: url(images/menuover.jpg);
}
.z-menu-popup .z-menu-separator{
	background-color : #4c2f92; 
	background-image : url(images/division2.jpg); 
}

.z-menu-popup{
	background-color : #4c2f92; 
	background-image : none; 
	border-style : none; 
}

.z-menu-popup .z-menu-cnt{
	font-family : arial; 
	color : #ffffff; 
	font-size : 12px; 
}
.z-menu-popup .z-menu{
	background-color : #4c2f92; 
	background-image : none; 
	border-style : none; 
}

.z-menu-popup .z-menu-over{
	background-color : transparent; 
	background-image : url(images/menuover.jpg); 
	background-repeat : repeat-x; 
	border-style : none; 
}

.z-menu-popup .z-menu .z-menu-img{
	background-color : transparent; 
	background-image : none; 
	border-style : none; 
}

.z-menu-popup .z-menu-item-cnt{
	font-family : arial; 
	color : #FFFFFF; 
	font-size : 12px; 
}
.z-menu-popup .z-menu-item{
	background-color : #4c2f92; 
	background-image : none; 
	border-style : none; 
}

.z-menu-popup .z-menu-item-over{
	background-color : trsansparent; 
	background-image : url(images/menuover.jpg); 
	border-style : none; 
}

.z-menu-popup .z-menu-item-img{
	background-color : transparent; 
	background-image : none; 
	border-style : none; 
}

.z-menu-popup .z-menu-item-cnt-ck .z-menu-item-img{
	background-image : none; 
}

.z-menu-popup .z-menu-item-cnt-unck .z-menu-item-img{
	background-image : none; 
}
.z-menubar-hor .z-menu, .z-menubar-hor .z-menu-item, .z-menubar-hor .z-menu-btn, .z-menubar-hor .z-menu-item-btn, .z-menubar-hor span, .z-menubar-hor a, .z-menubar-hor div, .z-menubar-ver .z-menu, .z-menubar-ver .z-menu-item, .z-menubar-ver .z-menu-btn, .z-menubar-ver .z-menu-item-btn, .z-menubar-ver span, .z-menubar-ver a, .z-menubar-ver div, .z-menu-cnt, .z-menu-item-cnt{
font-weight: normal;
white-space: nowrap;
font-family: Arial;
font-size: 12px;
color: #ffffff;
}
.z-menu-popup-cnt .z-menu-over a.z-menu-cnt, .z-menu-popup-cnt .z-menu-item-over a.z-menu-item-cnt{
color: #ffffff;
}
.z-menu-popup-cnt .z-menu a.z-menu-cnt, .z-menu-popup-cnt .z-menu-item a.z-menu-item-cnt{
color: #ffffff;
display: block;
line-height: 17px;
outline-color: -moz-use-text-color;
outline-style: none;
outline-width: 0pt;
padding-top: 2px;
padding-right: 21px;
padding-bottom: 2px;
padding-left: 3px;
white-space: nowrap;
}
.z-menu-popup-cnt .z-menu-item-over .z-menu-item-cl, .z-menu-popup-cnt .z-menu-item-over .z-menu-item-cr, .z-menu-popup-cnt .z-menu-item-over .z-menu-item-cm, .z-menu-popup-cnt .z-menu-over .z-menu-cl, .z-menu-popup-cnt .z-menu-over .z-menu-cr, .z-menu-popup-cnt .z-menu-over .z-menu-cm{
background-repeat: no-repeat;
background-position: 0pt 0pt;
background-image:none;
}
.z-menu-body-seld .z-menu-inner-m .z-menu-btn{
color: #FFFFFF;
}